body {
  background-color: beige;
}

#course {
  width: 500px;
  height: 200px;
  border-bottom: 1px solid black;
  position: relative;
}

#racer,
#finishLine {
  position: absolute;
  bottom: 0;
  user-select: none;
}

#racer {
  left: 0;
  cursor: pointer;
}

#finishLine {
  right: 0;
}
